.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    border-radius: 120px;
    background-color: rgba(0, 0, 0, 0.8);
}



@media screen and (max-width: 910px) {
    .profile__avatar {
        margin: 0 auto;
    }
}